@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-background: #0a100d;
    --color-primary: #0ff591;
    --color-accent: #09d77e;

    --font-family: 'Montserrat', sans-serif;
    --font-weight-heading: 700;
    --font-weight-subheading: 600;
    --font-weight-body: 400;

    --font-size-logo: 100px;
    --font-size-heading: 32px;
    --font-size-subheading: 24px;
    --font-size-body: 16px;
}
