.card {
    transition-duration: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 300px;
    margin: 20px;

    box-shadow: var(--shadow);

    border: var(--border);
    border-radius: var(--border-radius);
}

.card:hover {
    height: 510px;
    width: 310px;
}

.card__title {
    font-family: var(--font-family);
    font-size: var(--font-size-subheading);
    font-weight: var(--font-weight-subheading);
    color: var(--color-primary);
    text-align: center;
    margin: 10px 25px;
}

.card__year {
    font-family: var(--font-family);
    font-size: var(--font-size-body-large);
    font-weight: var(--font-weight-subheading);
    color: var(--color-primary);
    text-align: center;
    margin: 10px 25px;
}

.card__id {
    font-family: var(--font-family);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    color: var(--color-primary);
    text-align: center;
    margin: 10px 25px;
}

.card__poster {
    width: 200px;
    height: 300px;
    margin-top: auto;
    border-radius: var(--border-radius);
}
